/* ******************COMMON SELECTOR */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
}

.bckg-azure {
    background-color: #b4d0e7;
}

.bckg-white {
    background-color: white;
}


.pdd-1 {
    padding: 1rem;
}

.pdd-05 {
    padding: 0.5rem;
}

.pdd-top-2 {
    padding-top: 2rem;
}

.mrg-top-5 {
    margin-top: 5rem;
}

.mrg-btm-2 {
    margin-bottom: 2rem;
}

.mrg-top-2 {
    margin-top: 2rem;
}

.flex {
    display: flex;
}

.btt-blu {
    background-color: blue;
    padding: 0.5rem 1rem;
    color: white;
    border: 0px;
}

a {
    color: blue;
}




/* ****************HEADER SELECTOR */

header {
    position: fixed;
    width: 100%;
    background-color: white;
}

nav {

    height: 5rem;
}

.nav-left {
    width: 10%;
    align-items: center;
}

.nav-center {
    width: 80%;
    justify-content: space-between;
}

.nav-center-left {
    gap: 3rem;
    align-items: center;
}

.nav-center-right {
    gap: 3rem;
    align-items: center;
}

.nav-right {
    width: 10%;
    align-items: center;
    gap: 2rem;
}

nav img {
    width: 100%;
}

nav a {
    text-decoration: none;
    color: black;
}


/* *******************MAIN SELECTOR */

.container-1 {
    padding-top: 50px;
    width: 100%;
    background-color: #b4d0e7;
}

.box-1 {
    margin: 0 auto;
    width: 70%;
}

h1 {
    padding: 4rem 0;
    font-size: 4rem;
}

.element {
    line-height: 1.5rem;
    font-size: 1.1rem;
    width: 90%;
    flex-wrap: wrap;
}

.element-testo {
    width: 40%;
    flex-direction: column;
    gap: 2rem;
}

.element-testo button {
    margin: 3rem 0;
    font-size: 1.1rem;
}

.element-testo i {
    font-size: 3rem;
    margin-top: 5rem;
}

.element-img {
    width: 60%;
    position: relative;
}

.element .element-img img {
    width: 100%;
    position: absolute;
    top: -90px;
}

.container {
    width: 100%;
    padding: 8rem 0;
}

.box {
    width: 60%;
    margin: 0 auto;
}

.titolo {
    font-size: 2rem;
    font-weight: bold;
}

.piani-fatturazione {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.cont-card {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    width: calc(100% / 3 - 1rem);
    height: 100%;
}

.piano {
    justify-content: center;
}

.card i,
.fatt-team-enterprise i {
    padding-right: 0.5rem;
}

.border-card {
    border: 1px solid lightgray;
    padding: 0 1rem;
}

.name-piano {
    height: 5%;
}

.content-piano {
    height: 95%;
}


.livel {
    font-size: 1.5rem;
    font-weight: bold;
}

.price {
    font-weight: bold;
}

.piani-fatturazione ul {
    list-style: none;
}

.cont-btt {
    width: 100%;
    margin: 1rem auto;
}

.piani-fatturazione button {
    width: 100%;
    background-color: blue;
    color: white;
    padding: 1rem;
    border: 0px;
    font-size: 1.1rem;
}

.mini-titolo {
    font-weight: bold;
}

.blu i {
    color: blue;
    font-size: 1.1rem;
}

.cont-check {
    padding: 0.5rem 0;
}

.fatt-team-enterprise {
    width: 100%;
}

.box-operazioni {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.operazioni {
    width: calc(100% / 3 - 2rem);
    margin: 1rem;
}

.cont-img {
    width: 65%;
}

.cont-testo {
    width: 35%;

}

.trova-partner {
    border: 1px solid black;
}

.titolo-piccolo {
    font-size: 1.4rem;
    font-weight: bold;
}

.sponsor-left {
    width: calc(100% / 3);
    flex-wrap: wrap;
}

.sponsor-center {
    width: calc(100% / 3);
    padding: 3rem;
    background-color: rgb(230, 230, 230);

}


.sponsor-center img {
    width: 50%;
}

.sponsor-right {
    width: calc(100% / 3);
    flex-wrap: wrap;
}

.sponsor {
    flex-wrap: wrap;
    width: calc(100% / 2);
    aspect-ratio: 1/1;
}

.sponsor img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.sp1 {
    background-color: lightgreen;
}

.sp2 {
    background-color: rgb(110, 31, 31);
}

.sp3 {
    background-color: rgb(51, 115, 189);
}

.sp4 {
    background-color: red;
}

.sp5 {
    background-color: rgb(194, 5, 5);
}

.sp6 {
    background-color: #b4d0e7;
}

.sp7 {
    background-color: rgb(40, 40, 155);
}

.sp8 {
    background-color: rgb(241, 208, 60);
}

.testo {
    width: 50%;
    justify-content: end;
    align-items: center;
}

.domanda {
    font-weight: bold;
    padding: 2rem 1rem;
    justify-content: space-between;
}


/* ****************FOOTER SELETTORI */

footer {
    background-color: black;
    color: white;
}

.box-footer {
    margin: 0 auto;
    width: 70%;
}

.voci-footer {
    width: 100%;
    justify-content: space-between;
    padding: 5rem 0;
}

.voci {
    width: calc(100% / 5 - 1rem);
}

.link-footer {
    flex-direction: column;
    margin-top: 1rem;
}

.link-footer a {
    text-decoration: none;
    padding: 0.5rem 0;
    color: white;
}

.lingua {
    padding: 2rem 0;
}

.box-footer hr {
    width: 5%;
}